<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr style="padding:0px">
      <td style="padding:2.5%;width:63%;vertical-align:middle">
        <p style="text-align:center">
          <name>Lincoln Jiaxin Zhuang 庄嘉鑫</name>
        </p>

        <p style="text-align:center">
          Ph.D Candidate
        </p>
        <p style="text-align:center">
          School of Computer science and Technology.
        </p>
        <p style="text-align:center">
          The Hong Kong university of Science and Technology.
        </p>
        <p style="text-align:center">
          Email: Lincolnzjx at gmail.com.
        </p>

        <p style="text-align:center">
          <!-- <a href="mailto:lincolnz9511@gmail.com">Email</a> &nbsp/&nbsp -->
          <a href="https://scholar.google.com/citations?user=PfM5gucAAAAJ&hl=en">Google Scholar</a>
          &nbsp/&nbsp
          <a href="https://twitter.com/jiaxinzhuang">Twitter</a> &nbsp/&nbsp
          <a href="https://github.com/jiaxinzhuang">Github</a>
        </p>
      </td>
      <!-- <td style="padding:2.5%;width:40%;max-width:40%"> -->
      <!-- <a href="images/avatar.jpeg"><img style="width:100%;max-width:100%" alt="profile photo" src="images/avatar.jpg" class="hoverZoomLink"></a> -->
      <!-- </td> -->
    </tr>
  </tbody>
</table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr>
      <td style="padding:20px;width:100%;vertical-align:middle">
        <heading>Short Bio</heading>
        <div data-include="partials/bio.html"></div>
      </td>
    </tr>
  </tbody>
</table>