<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr>
      <td style="padding:20px;width:100%;vertical-align:middle">
        <heading>News</heading>
        <div data-include="partials/news-items.html"></div>
        <!-- <p>
              [2020/06] A paper got accepted to MICCAI 2020.
              </p>
              <p>
              [2020/04] A paper got accepted to ISBI 2020.
              </p> -->

      </td>
    </tr>
  </tbody>
</table>