              <table
                style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tbody>
                  <tr>
                    <td style="padding:20px;width:100%;vertical-align:middle">
                      <heading>Challenge</heading>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tbody>
                              <tr onmouseout="flare_stop()" onmouseover="flare_start()">
                                <td style="padding:20px;width:25%;vertical-align:middle">
                                  <div class="one">
                                    <div class="two" id='flare_image'>
                                      <img src='images/cvprw2021_avatar.png' width="190">
                                    </div>
                                    <img src='images/cvprw2021_avatar.png' width="190">
                                  </div>
                                  <script type="text/javascript">
                                    function flare_start() {
                                      document.getElementById('flare_image').style.opacity = "1";
                                    }

                                    function flare_stop() {
                                      document.getElementById('flare_image').style.opacity = "0";
                                    }
                                    flare_stop()
                                  </script>
                                </td>
                                <td style="padding:20px;width:75%;vertical-align:middle">
                                  <a href="https://arxiv.org/pdf/2106.10683.pdf">
                                    <papertitle>Solution for Large-scale Long-tailed Recognition with Noisy Labels
                                    </papertitle>
                                  </a>
                                  <br>
                                  <a href="https://scholar.google.com/citations?user=jor10WoAAAAJ&hl=en">Yuqiao
                                    Xian</a>,
                                  <strong>Jia-Xin Zhuang</strong>,
                                  <a href="">Fufu Yu</a>,
                                  <br>
                                  <em>Technical Report, CVPR 2021 AliProducts Challenge: Large-scale Product
                                    Recognition</em>, 2021. 2/623
                                  <br>
                                  <a href="https://arxiv.org/pdf/2106.10683.pdf">Arxiv</a>,
                                  <a
                                    href="https://github.com/JiaxinZhuang/Large-scale-Product-Recognition.Pytorch">Code</a>
                                  <p></p>
                                  <p>
                                  </p>
                                </td>
                              </tr>


                              <tr onmouseout="flare_stop()" onmouseover="flare_start()">
                                <td style="padding:20px;width:25%;vertical-align:middle">
                                  <div class="one">
                                    <div class="two" id='flare_image'>
                                      <img src='images/miccaiw18_avatar.png' width="190">
                                    </div>
                                    <img src='images/miccaiw18_avatar.png' width="190">
                                  </div>
                                  <script type="text/javascript">
                                    function flare_start() {
                                      document.getElementById('flare_image').style.opacity = "1";
                                    }

                                    function flare_stop() {
                                      document.getElementById('flare_image').style.opacity = "0";
                                    }
                                    flare_stop()
                                  </script>
                                </td>
                                <td style="padding:20px;width:75%;vertical-align:middle">
                                  <a
                                    href="https://www.researchgate.net/profile/Siyamalan-Manivannan-2/publication/347752117_Skin_Lesion_Analysis_Towards_Melanoma_Detection_Using_Deep_Neural_Network_Ensemble/links/5fe38702a6fdccdcb8f70c36/Skin-Lesion-Analysis-Towards-Melanoma-Detection-Using-Deep-Neural-Network-Ensemble.pdf">
                                    <papertitle>Skin Lesion Analysis Towards Melanoma Detection Using Deep Neural
                                      Network Ensemble</papertitle>
                                  </a>
                                  <br>
                                  <strong>Jia-Xin Zhuang</strong>,
                                  <a href="">Weipeng Li</a>,
                                  <a href="https://scholar.google.co.uk/citations?user=0nzskaUAAAAJ&hl=en">Siyamalan
                                    Manivannan</a>,
                                  <a href="https://scholar.google.com/citations?hl=en&user=Z8Q__xAAAAAJ">Ruixuan
                                    Wang</a>,
                                  <a href="https://scholar.google.com/citations?user=ypSmZtIAAAAJ&hl=en">Jianguo
                                    Zhang</a>,
                                  <br>
                                  <em>
                                    Technical Report, MICCAI 2018 Grand Challenge "ISIC 2018: Skin Lesion Analysis
                                    Towards Melanoma Detection"</em>, 2018. Rank 3rd.
                                  <br>
                                  <a
                                    href="https://www.researchgate.net/profile/Siyamalan-Manivannan-2/publication/347752117_Skin_Lesion_Analysis_Towards_Melanoma_Detection_Using_Deep_Neural_Network_Ensemble/links/5fe38702a6fdccdcb8f70c36/Skin-Lesion-Analysis-Towards-Melanoma-Detection-Using-Deep-Neural-Network-Ensemble.pdf">PDF</a>,
                                  <a href="https://github.com/JiaxinZhuang/Skin-Lesion-Recognition.Pytorch">Code</a>
                                  <p></p>
                                  <p>
                                  </p>
                                </td>
                              </tr>
                </tbody>
              </table>
