<p>
    I start my Ph.D at SMARTX@<a href="https://cse.hkust.edu.hk">HKUST</a> on 2022 Fall, advised by
    <a href="https://cse.hkust.edu.hk/~jhc/">Prof. Chen Hao</a> (2022-Now).
</p>

<p>
    I did my master (2018-2021) as well as bachelor (2014-2018) at the
    <a href="http://www.sysu.edu.cn/en/index.htm">Sun Yat-sen University</a>, where I was advised by
    <a href="http://www.isee-ai.cn/~wangruixuan/">Prof. Ruixuan Wang</a>,
    <a href="https://faculty.sustech.edu.cn/zhangjg/en//">Prof. Jianguo Zhang</a>, and
    <a href="http://www.isee-ai.cn/~zhwshi/">Prof. Wei-Shi Zheng</a>.
    I have also spent a year at the <a href="https://open.youtu.qq.com/#/open">Tencent Youtu Lab</a>
    working as a research intern (2020-2021)
    <!-- , supervised by -->
    <!-- <a href="https://scholar.google.com/citations?user=mfWsFM0AAAAJ&hl=en&inst=1381320739207392350">Dr. Ke Li</a> -->
    <!-- and Yuting Gao. -->
    I was an algorithm engineer at <a href="https://www.pcl.ac.cn/">Pengcheng Lab</a> working with
    <a href="https://gaowei262.github.io">Prof. Wei Gao</a> and
    <a
        href="https://www.google.com.hk/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwj5roeo7av1AhXzOn0KHaQdCa4QFnoECAUQAQ&url=https%3A%2F%2Fscholar.google.com%2Fcitations%3Fuser%3DJnuN0DwAAAAJ%26hl%3Dzh-CN&usg=AOvVaw2MiJ-uytRb9_inBkcnRwEm">Prof.
        Tong Zhang</a>
    on computer vision and machine learning (2021-2022). I was also a research intern at <a
        href="https://www.coe.pku.edu.cn/teaching/all_time/11195.html">Peking University</a> (2024-2025), working with
    <a href="https://www.coe.pku.edu.cn/teaching/all_time/11195.html">Prof. Lin Luo</a>.
</p>

<p>
    I'm interested in computer vision and medical image analysis, especially foundation model for healthcare.
</p>