<p>[2026] UniBiomed is accepted by Nature Communications 2026, congratulates to Linshan! (A collaborative paper)</p>
<p>[2026] A multimodal prognostic prediction paper is accepted by Nature Communications 2026, congratulates to Yuhan! (A collaborative paper)</p>
<p>[2026] TTL is accepted by CVPR 2026 (CCF-A), congratulates to Jinlun!</p>
<p>[2026] DynProto is accepted by CVPR 2026 (CCF-A), congratulates to Yanqi! (A collaborative paper)</p>
<p>[2026] DCAC is accepted by AAAI 2026 (CCF-A), congratulates to Yanqi!</p>
<p>[2026] MG-3D is accepted by MIA 2026, congratulates to Xuefeng! (A collaborative paper)</p>
<p>[2026] Glance and Focus is accepted by ICLR 2026 (CCF-A), congratulates to Linshan! (A collaborative paper)</p>
<p>[2025/10] Beyond H&E is accepted by BIBM 2025, congratulates to Yao Du! (A collaborative paper)</p>
<p>[2025/10] FreeTumor is accepted by Nature Communications 2025, congratulates to Linshan! (A collaborative paper)</p>
<p>[2025/6] Bio2Vol and RBDM are accepted by MICCAI 2025, congratulates to Xiaoyu! (A collaborative paper)</p>
<p>[2025] VoCo (large-scale 3D pre-training) is accepted by T-PAMI 2025, congratulates to Linshan! (A collaborative paper)</p>
<p>[2025/5] GL-MAE is accepted by TMI.</p>
<p>[2025/4] MiM is accepted by TMI.</p>
<p>[2025] Boundary-guided Contrastive Learning is accepted by TMI 2025, congratulates to Yang! (A collaborative paper)</p>
<p>[2024/9] Touchstone is accepted by NeurIPS 2024. (A collaborative paper)</p>
<p>[2024/2] VoCo is accepted by CVPR 2024. (A collaborative paper)</p>
<p>[2023/7] CARE is accepted by Neurocomputing.</p>
<p>[2022/7] OpenMedIA is accepted by PRCV Workshop.</p>
<p>[2022/7] DisCo is accepted to <strong style="color:Red">ECCV 2022 Oral</strong>!!!</p>
<p>[2021/8] Defended my Master Thesis: Self-supervised Cross-modal Representation Learning in Video Understanding.</p>
