<p>[2026] Two papers accepted by Nature Communications 2026.</p>
<p>[2026] Two papers accepted by CVPR 2026.</p>
<p>[2026] One paper is accepted by AAAI 2026.</p>
<p>[2026/4] MG-3D is accepted by MIA 2026.</p>
<p>[2026] Glance and Focus is accepted by ICLR 2026 (CCF-A).</p>
<p>[2025/10] Beyond H&E is accepted by BIBM 2025.</p>
<p>[2025/10] FreeTumor is accepted by Nature Communications 2025.</p>
<p>[2025/6] Bio2Vol and RBDM are accepted by MICCAI 2025.</p>
<p>[2025] VoCo (large-scale 3D pre-training) is accepted by T-PAMI 2025.</p>
<p>[2025] Three papers accepted by TMI 2025.</p>
<p>[2024/9] Touchstone is accepted by NeurIPS 2024.</p>
<p>[2024/2] VoCo is accepted by CVPR 2024.</p>
<p>[2023/7] CARE is accepted by Neurocomputing.</p>
<p>[2022/7] OpenMedIA is accepted by PRCV Workshop.</p>
<p>[2022/7] DisCo is accepted to <strong style="color:Red">ECCV 2022 Oral</strong>!!!</p>
<p>[2021/8] Defended my Master Thesis: Self-supervised Cross-modal Representation Learning in Video Understanding.</p>