<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>TTL: Test-time Textual Learning for OOD Detection with Pretrained Vision-Language Models
        </papertitle>
        <br>
        <!-- Jinlun Ye, ..., <strong>Jiaxin Zhuang&dagger;</strong>, ..., Ruixuan -->
        Jinlun Ye, ..., <strong>Jiaxin Zhuang&dagger;</strong>, ... . <em>CVPR</em>, 2026
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>DynProto: Dynamic Prototype Evolution for Out-of-Distribution Detection</papertitle>
        <br>
        Yanqi Wu, ..., <strong>Jiaxin Zhuang</strong>, ... . <em>CVPR Findings</em>, 2026
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Glance and Focus Reinforcement for Pan-cancer Screening</papertitle>
        <br>
        Linshan Wu, <strong>Jiaxin Zhuang</strong>, Hao Chen. <em>ICLR</em>, 2026
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>DCAC: Dynamic Class-Aware Cache Creates Stronger Out-of-Distribution Detectors</papertitle>
        <br>
        Yanqi Wu, ..., <strong>Jiaxin Zhuang&dagger;</strong>, ...,
        Ruixuan Wang&dagger;. <em>AAAI</em>, 2026
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>UniBiomed: A Universal Foundation Model for Grounded Biomedical Image Interpretation</papertitle>
        <br>
        Linshan Wu, ..., <strong>Jiaxin Zhuang</strong>, ..., Hao Chen. <em>Nature
            Communications</em>, 2026
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Multimodal Deep Learning Model for AI-based Functional Prognostic Risk Stratification in Patients
            Undergoing Radical Nephrectomy</papertitle>
        <br>
        Yuhan Luo, ..., <strong>Jiaxin Zhuang</strong>, ... . <em>Nature Communications</em>, 2026
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>MG-3D: Multi-Grained Knowledge-Enhanced 3D Medical Vision-Language Pre-training</papertitle>
        <br>
        Xuefeng Ni, Linshan Wu, <strong>Jiaxin Zhuang</strong>, ..., Hao Chen. <em>MIA</em>, 2026
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>FreeTumor: Advance Tumor Segmentation via Large-Scale Tumor Synthesis</papertitle>
        <br>
        Linshan Wu, <strong>Jiaxin Zhuang</strong>, ..., Hao Chen. <em>Nature Communications</em>, 2025
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Large-Scale 3D Medical Image Pre-training with Geometric Context Priors</papertitle>
        <br>
        Linshan Wu, <strong>Jiaxin Zhuang</strong>, Hao Chen. <em>T-PAMI</em>, 2025
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>MiM: Mask in Mask Self-Supervised Pre-Training for 3D Medical Image Analysis</papertitle>
        <br>
        <strong>Jiaxin Zhuang</strong>, Linshan Wu, Qiong Wang, Pei Fei, Varut Vardhanabhuti, Lin Luo, Hao Chen.
        <em>TMI</em>, 2025
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Advancing Volumetric Medical Image Segmentation via Global-Local Masked Autoencoder</papertitle>
        <br>
        <strong>Jiaxin Zhuang</strong>, Luyang Luo, Qiong Wang, Mingxiang Wu, Lin Luo, Hao Chen. <em>TMI</em>, 2025
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Boundary-guided Contrastive Learning for Semi-supervised Medical Image Segmentation</papertitle>
        <br>
        Yang Yang, <strong>Jiaxin Zhuang</strong>, Guoying Sun, Ruixuan Wang, Jingyong Su. <em>TMI</em>, 2025
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Bio2Vol: Adapting 2D Biomedical Foundation Models for Volumetric Medical Image Segmentation
        </papertitle>
        <br>
        <strong>Jiaxin Zhuang</strong>, Linshan Wu, Xuefeng Ni, Xi Wang, Liansheng Wang, Hao Chen. <em>MICCAI</em>, 2025
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Diffusion-based Virtual Staining from Polarimetric Mueller Matrix Imaging</papertitle>
        <br>
        Xiaoyu Zheng, Jing Wen, <strong>Jiaxin Zhuang</strong>, ..., Hao
        Chen. <em>MICCAI</em>, 2025
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Beyond H&amp;E: Unlocking Pathological Insights with Polarization via Self-supervised Learning
        </papertitle>
        <br>
        Yao Du, <strong>Jiaxin Zhuang</strong>, ... .
        <em>BIBM</em>, 2025
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Touchstone Benchmark: Are We on the Right Way for Evaluating AI Algorithms for Medical Segmentation?
        </papertitle>
        <br>
        Pedro R. A. S. Bassi, ..., <strong>Jiaxin Zhuang</strong>, ..., Alan Yuille, Zongwei Zhou. <em>NeurIPS</em>,
        2024
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>VoCo: A Simple-yet-Effective Volume Contrastive Learning Framework for 3D Medical Image Analysis
        </papertitle>
        <br>
        Linshan Wu, <strong>Jiaxin Zhuang</strong>, Hao Chen. <em>CVPR</em>, 2024
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Class Attention to Regions of Lesion for Imbalanced Medical Image Recognition</papertitle>
        <br>
        <strong>Jiaxin Zhuang</strong>, Jiabin Cai, Ruixuan Wang, Jianguo Zhang, Weishi Zheng. <em>Neurocomputing</em>,
        2023
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>OpenMedIA: Open-Source Medical Image Analysis Toolbox and Benchmark under Heterogeneous AI Computing
            Platforms</papertitle>
        <br>
        <strong>Jiaxin Zhuang</strong>, Xiansong Huang, Yang Yang, Jiancong Chen, Yue Yu, Wei Gao, Ge Li, Jie Chen, Tong
        Zhang. <em>PRCV Workshop</em>, 2023
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>DisCo: Remedy Self-supervised Learning on Lightweight Models with Distilled Contrastive Learning
        </papertitle>
        <br>
        Yuting Gao*, <strong>Jiaxin Zhuang*</strong>, Shaohui Lin, Hao Cheng, Xing Sun, Ke Li. <em>ECCV</em>, 2022,
        <span style="color:Red">Oral</span>
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Deep kNN for Medical Image Classification</papertitle>
        <br>
        <strong>Jiaxin Zhuang</strong>, Jiabin Cai, Ruixuan Wang, Jianguo Zhang, Wei-Shi Zheng. <em>MICCAI</em>, 2020
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Fusing Metadata and Dermoscopy Images for Skin Disease Diagnosis</papertitle>
        <br>
        Weipeng Li*, <strong>Jiaxin Zhuang*</strong>, Ruixuan Wang, Jianguo Zhang, Wei-Shi Zheng. <em>ISBI</em>, 2020
    </td>
</tr>

<tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>CARE: Class Attention to Regions of Lesion for Classification on Imbalanced Data</papertitle>
        <br>
        <strong>Jiaxin Zhuang*</strong>, Jiabin Cai*, Ruixuan Wang, Jianguo Zhang, Wei-Shi Zheng. <em>MIDL</em>, 2019
    </td>
</tr>

<!-- <tr>
    <td style="padding:2px 20px 16px 20px;vertical-align:top;line-height:1.05">
        <papertitle>Auxiliary Decoder and Classifier for Imbalanced Skin Disease Diagnosis</papertitle>
        <br>
        Zili Xu, <strong>Jiaxin Zhuang</strong>, Rong Zhang, Ruixuan Wang, Xuemei Guo, Wei-Shi Zheng. <em>ICAICS</em>,
        2020
    </td>
</tr> -->