              <table
                style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tbody>
                  <tr>
                    <td style="padding:20px;width:100%;vertical-align:middle">
                      <heading>Academic Service</heading>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tbody>
                  <tr>
                    <td style="padding:20px;width:100%;vertical-align:middle">
                      <p><strong>Conference Reviewer:</strong> CVPR, NeurIPS, ICCV, ECCV, ACM MM, MICCAI.</p>
                      <p><strong>Journal Reviewer:</strong> TIP, TMI, MIA, TNNLS, Pattern Recognition, Neurocomputing.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
