<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr>
      <td style="padding:20px;width:100%;vertical-align:middle">
        <heading>Invited Talks</heading>
      </td>
    </tr>
  </tbody>
</table>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr onmouseout="flare_stop()" onmouseover="flare_start()">
      <td style="padding:20px;width:25%;vertical-align:middle">
        <div class="one">
          <div class="two" id='flare_image'>
            <img src='images/pcl_talk_avatar.png' width="190">
          </div>
          <img src='images/pcl_talk_avatar.png' width="190">
        </div>
        <script type="text/javascript">
          function flare_start() {
            document.getElementById('flare_image').style.opacity = "1";
          }

          function flare_stop() {
            document.getElementById('flare_image').style.opacity = "0";
          }
          flare_stop()
        </script>
      </td>
      <td style="padding:20px;width:75%;vertical-align:middle">
        <a href="">
          <papertitle>Paper sharing</papertitle>
        </a>
        <br>
        <strong>Jiaxin Zhuang</strong>,
        <br>
        <em>Peng Cheng Laboratory</em>, 11/13/2021
        <br>
        <a href="https://www.bilibili.com/video/BV1WY41147Yi/">Bilibili</a>,
        <a href="https://git.openi.org.cn/attachments/3e055501-2b43-4a5b-8da7-d84b305fc627">PPT</a>
        <p></p>
        <p>
        </p>
      </td>
    </tr>
  </tbody>
</table>